<head>
    <link rel = "stylesheet" href = "about">
</head>
<h1><b> About </b></h1>
<body>
<h2><u> Why this website was created </u></h2>
<p>This website was created to make booking appointments for SFU students more efficient.</p>

<h2><u> Who can use this webiste </u> </h2>
<p> Students can use the website to book appointments for TAs, professors, advisors etc.</p>

<p> Educators can use the website to post whatever time they would be available and cancel appointments whenever necessary </p>

<p><i> Created by: Christien John, Jasmine Lin, Justin Mok, Avneet Sekhon, Patrick Yang</i></p> 
</body>