<h1 class = "title"><b> About </b></h1>
<body class = "body">
<h2 class = "para"><u> Why this website was created </u></h2>
<p class = "script"><mark class = "mark">This website was created to make booking appointments for SFU students more efficient.</mark></p>
<h2 class = "para"><u> Who can use this webiste </u> </h2>
<p class = "script"><mark class = "mark"> Students can use the website to book appointments for TAs, professors, advisors etc.</mark></p>

<p class = "script"><mark class = "mark"> Educators can use the website to post whatever time they would be available and cancel appointments whenever necessary </mark></p>

<p = "script"><i> Created by: Christien John, Jasmine Lin, Justin Mok, Avneet Sekhon, Patrick Yang</i></p> 
</body>