<h1 class = "title"><b> About </b></h1>
<body class = "body">
<form class = "form">
<h2 class = "para"><u> Why this website was created? </u></h2>
<p class = "script">This website was created to make booking appointments for SFU students more simpler and efficient.
<br> Also, this website allows educators have an easy method of posting their availability.</br></p>

<h2 class = "para"><u> Who can use this webiste? </u> </h2>
<p class = "script">Students can use the website to book appointments for TAs, professors, advisors etc.
<br> As a SFU student, they would have access to a calendar and book whatever appointment they need.
<br> As an SFU educator, they can use the website to post whatever time they would be available and cancel appointments whenever necessary.</br></p>

<h2 class = "para"><u> How is this website used? </u></h2>
<h3 class = "para1"><u> <i> Students </i></u></h3>
<p class = "script"> Students will need to sign up or sign in to an acccount. 
<br>After they sign in, they would have access to a calendar, and by clicking on the selected date,
they would have to fill out an online form to select which staff member and what time they want. </br></p>
<h3 class = "para1"><u><i> Educators </i></u></h3>
<p class = "script"> Educators will need to sign up or sign in to an account. 
<br>After the sign in, they would have access to a calendar, and by clicking the "New Meeting" link, they would need to give what dates and times they would be available to meet with students.</br></p>

<p = "script"><i> Created by: Christien John, Jasmine Lin, Justin Mok, Avneet Sekhon, Patrick Yang</i></p> 
</form>
</body>