/* style the logincontainer */
.logincontainer {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}

.formcontainer {
  width: 400px;
    margin: 0 auto;
}

.field {
  padding: 25px;
}
.signupheader {
  border-radius: 5px;
  padding: 20px 0 30px 0;
  margin: 0 auto;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
}

.signupbody {
  background: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginheader {
  border-radius: 5px;
  padding: 20px 0 30px 0;
  margin: 0 auto;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
}

.loginbody {
    background: url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* style inputs and link buttons */
input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


/* style the login button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=login]:hover {
  background-color: #45a049;
}


.actions {
  position: relative;
  border-radius: 5px;
  padding: 20px 0 30px 0;
  width: 400px;
  margin: 0 auto;
}
