body, html {
  height: 100%;
  width: 100%;
  font-family: Lato;
  color: white;
}

.content {
  color: white;
  text-align: center;
  padding-top: 20%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.1),
              0px 18px 23px rgba(0,0,0,0.1);
}

.homebody {
  background: url(https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3066&q=80); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeHR {
  width: 400px;
}

#professor {
  border-collapse: collapse;
  width: 100%;
}

#professor td, #professor th {
  font-family: Lato;
  border: 1px solid #ddd;
  padding: 8px;
}

#professor {
  background-color: #f2f2f2;
}

#professor tr:hover {
  background-color: #ddd;
}

#professor th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(255,0,0,0.7);
  color: white;
  font-family: Lato;
}









































.index-home
{

.a-primary{
color: black;
padding-left: 10px;
}

.header-1{
font-size: 20px;
}

table, th, td {
border: 1px solid black;
font-family: Arial, sans-serif;
text-align: center;
}
th{
font-weight: bold;
}

.search{
background-color: #FFF;
color: #AAA;
padding: 20px;
margin: 50px auto 0px auto;
width: 90%;
float: left;
}


}
